@font-face {
    font-family: 'Montserrat';
    src: url("./Assets/Montserrat/Montserrat-VariableFont_wght.ttf");
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

*
{
margin: 0px;
padding: 0px;
box-sizing: border-box;
text-decoration: none;
}

body {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr;
}

.Main_Side_Panel {
    grid-row: 1/1;
    grid-column: 1/2;
    background-color: #f5f5f5;
    height: 100%;
    position: relative;
}

.Top_Picture {
    height: 300px;
    padding: 15px;
    /* border: 2px green solid; */
}

.Top_Picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.Liste {
    margin-top: 25px;   
    
}

.Liste ul {
    margin: 5px;
    padding-left: 15px;
    padding-right: 15px;    
}

.Liste ul li {
    display: flex;
    flex-direction: column;
    text-align: justify;
    line-height: 25px;
    

}

.Liste ul li a {
    margin-top: 15px;
    padding-bottom: 5px;
    border-bottom: 1px grey solid;
    color: black;
    font-size: 20px; 
    font-family: Montserrat;
    font-weight: 300;
}

.Main_Panel {
    margin-left: 25px;
    height: 100%;
    /* border: red solid 1px; */
    display: flex;
    flex-direction: column;
}

.Main_Panel_Title h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 40px;
    margin: 15px 15px 15px 0px;
    letter-spacing: 4px;
    grid-row: 1/5;
    grid-column: 1/2;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-bottom: 15px;
    color: rgb(156, 156, 156);
    margin-left: 10px;
    margin-right: 10px;
    width: 800px;
}


.Mia, .Puppy_Guard, .Disco, .Triose, .Ar-Mare {
    position: relative;
    /* border: red solid 2px ; */
    margin-right: 200px;
    margin-top: 80px;
}

.Mia_Header, .Puppy_Header, .Disco_Header, .Triose_Header, .Ar-Mare_Header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items:  center;
}
.Mia_Cover, .Puppy_Cover, .Disco_Cover, .Triose_Cover, .Ar-Mare_Cover {
    max-height: 100px;
    object-fit: cover;
    border-radius: 20px;
}

.line {
    height: 1px;
    width: 100%;
    background-color: grey;
    margin-left: 10px;
}

.Mia_VOD, .Puppy_VOD, .Disco_VOD, .Triose_VOD, .Ar-Mare_VOD {
    /* border: 2px red solid; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
}

iframe {
    border-radius: 30px;
    max-height: 300px;
}

p {
    font-family: Montserrat;
    margin:auto;
    font-size: 16px;
}

.Itch_link {
    margin-top: 20px;
    border-bottom: 1px grey solid;
}
.Itch_link img{
    /* border: red solid 2px ; */
    max-height: 50px;
    margin-left: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

h3 {
    display: flex;
    align-items: center;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 20px;
}

footer {
    height: 100px;
    background-color:#f5f5f5 ;
}