@font-face {
    font-family: 'Montserrat';
    src: url("./Assets/Montserrat/Montserrat-VariableFont_wght.ttf");

    font-family: "Inter";
    src: url("./Assets/Inter/Inter-VariableFont_opsz_wght.ttf");

    /* font-family: "Inter_Italic";
    src: url("./Assets/Inter/Inter-Italic-VariableFont_opsz_wght.ttf") */
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

p {
    text-align: justify;
}

body {
    margin-top: 38px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
    text-decoration: none;
}

body {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr;
}

.Main_Side_Panel {
    margin-left: 20px;
    width: 280px;
    grid-row: 1/1;
    grid-column: 1/2;
    border: 1px solid rgba(85, 108, 150, 0.103);
    height: 100%;
}

.Top_Picture {
    height: 262px;
    width: 232px;
    overflow: visible;
    margin-left: 20px;
    margin-right: 20px;
    /* border: 2px green solid; */
}

.Top_Picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.Liste {
    margin-top: 46px;

}


.Liste ul li {
    display: flex;
    flex-direction: column;
    text-align: justify;

}

.Liste .About,
.Liste .Portfolio,
.Liste .Reels,
.Liste .Resume-EN,
.Liste .Resume-FR {
    margin-top: 15px;
    position: relative;
    display: flex;

}


.Liste .About img,
.Liste .Portfolio img,
.Liste .Reels img,
.Liste .Resume-EN img,
.Liste .Resume-FR img {
    position: absolute;
    left: 0px;
    top: 5px;
    transition: 0.3s;
    z-index: -1;
}

.Liste .Hidden {
    transform: translateX(-100%);

}

.Liste .Show {
    transform: translateX(-0%);
}

.Liste ul li .Vector_Side_List {
    /* border: 2px red solid; */
    width: 256px;
}

.Liste ul li a {
    padding-bottom: 5px;
    color: black;
    font-size: 20px;
    font-family: Inter;
    font-weight: 600;
    width: 100%;
}

.Main_Panel {
    border: solid 2px hsla(219, 28%, 46%, 0.1);
    width: 1066px;
    padding-right: 70px;
}

.Main_Panel h1 {
    font-family: Inter;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 20px;
}

.Main_Panel .Title {
    margin-left: 25px;
    margin-bottom: 10px;
    position: relative;
}

.Main_Panel .Title img {
    transform: translateY(-130%);
    z-index: -1;
    position: absolute;
}

.Main_Panel h2 {
    font-family: Inter;
    font-weight: 800;
    font-size: 36px;
    margin-top: -10px;
}

.Main_Panel_Body {
    box-sizing: content-box;
    border-left: solid 1px #000000;
    width: 1066px;
    display: block;
    grid-row: 1/1;
    grid-column: 2/2;
    position: relative;
}

.Main_Panel_Body .Vector_Title {
    display: flex;
    /* margin-bottom: 20px; */
    transform: translateY(-50%);
}

.Summary {
    /* border: 2px red solid; */
    margin-right: 70px;
    margin-left: 34px;
    position: relative;
    width: 100%;
}

.Project_Thumbnail_Container {
    /* border: 1px green solid; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;
}

.Project_Thumbnail a {

    transition: .2s ease-in-out;
    cursor: pointer;
}

.Project_Thumbnail .Thumbnail_Image {
    max-width: 230px;
    margin: 30px;
    margin-bottom: 10px;
}

.Project_Thumbnail .Thumbnail_Image:hover {
    scale: 1.05;
}

.Project_Thumbnail p {
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
    font-family: Inter;
}




.Project {
    position: relative;
    /* border: red solid 2px; */
    margin-right: 200px;
    margin-top: 10px;
}

.Project {
    position: relative;
    /* border: red solid 2px ; */
    margin-right: 200px;
    margin-top: 37px;
    margin-left: 34px;
    width: 1000px;
}

.Project_Header {
    display: grid;
    grid-template-columns: 203px 432px;
    grid-template-rows: 1fr;
    /* border: 2px solid red; */
    /* align-items:  center; */
}

.Project_Cover,
.Puppy_Cover {
    /* border: 2px rgb(0, 128, 128) solid; */
    grid-row: 1/3;
    grid-column: 1/2;
}

.Project_Title,
.Puppy_Title,
.Disco_Title,
.Triose_Title,
.Ar-Mare_Title {
    grid-row: 1/2;
    grid-column: 2/3;

}

.Project_Title h2 {
    letter-spacing: 5%;
    font-weight: 700;
    font-size: 36px;
}

.Project_Label {
    display: flex;
    justify-content: space-between;
    height: 75px;
    width: 365px;
    /* border: #000000 1px solid; */
}

.Project_Label ul {
    font-family: Inter;
    font-weight: 300;
    line-height: 23px;

}

.Project_Label ul li {
    position: relative;
}


.Project_Label ul li img {
    position: absolute;
    z-index: -1;
    top: 25%;
    margin-right: 10px;
}

.Project_Cover img,
.Puppy_Cover img,
.Disco_Cover,
.Triose_Cover,
.Ar-Mare_Cover {
    max-height: 100px;
    max-width: 180px;
    object-fit: cover;
    border-radius: 20px;
}

.line {
    height: 1px;
    width: 100%;
    background-color: grey;
    margin-left: 10px;
}

.Project_VOD {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 30px;
}

.Project_VOD .Left_VOD,
.Project_VOD .Right_VOD {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Project_VOD h3 {
    justify-content: center;
    font-family: Inter;
    font-style: italic;
    font-size: 13px;
    font-weight: 200;
    margin-bottom: 10px;
}

.Project_VOD .Game_Screenshot {
    width: 440;
    height: 230px;
    border-radius: 35px;
}

.Project_VOD .Line_Below_VOD {
    width: 266px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

iframe {
    width: 440px;
    height: 235px;
    border-radius: 30px;

}



.Project_Text p,
.Puppy_Text p {
    font-family: Inter;
    margin-top: 32px;
    font-size: 16px;
    line-height: 20px;
}

.Itch_link {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Itch_link img {
    /* border: red solid 2px ; */
    max-height: 50px;
    margin-left: 15px;
}

h3 {
    display: flex;
    align-items: center;
    font-family: Inter;
    font-weight: 500;
    font-size: 20px;
}

.Closure_Line {
    margin-top: 27px;
    width: 100%;
}

footer {
    height: 100px;
    background-color: #ffffff;
}

#Ubisoft_Text p {
    text-align: left;
}