@font-face {
    font-family: Inter;
    src: url(./Assets/Typographies/Inter/Inter-VariableFont_opsz\,wght.ttf)
}

@font-face {
    font-family: KanitBold;
    src: url(./Assets/Typographies/Kanit/Kanit-Bold.ttf )
}

@font-face {
    font-family: KanitExtraBold;
    src: url(./Assets/Typographies/Kanit/Kanit-ExtraBold.ttf )
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: none;
}

body {
    width: 100%;
    height: 100%;
}

header {
    height: 118px;
    width: 100%;
    border-bottom: 1px black solid;
    margin-bottom: 40px;
}

header canvas {
    /* border: 2px solid black; */
    position: absolute;
    top: 0;
    z-index: -1;
}



.titleAndButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 80px;
    margin-right: 90px;
    padding-top: 20px;
}

.titleName {
    width: 660px;
    display: flex;
    flex-direction: column;
}

.titleName a {
    text-decoration: none;
    transition: 100ms;
}

.titleName a:hover {
    scale: 1.01;
}

.titleName h1 {
    width: 100%;
    font-family: Inter;
    font-weight: 1000;
    color: rgb(255, 146, 50);
    font-size: 50px;
    paint-order: stroke fill;
    -webkit-text-stroke: 1px black;
    text-shadow: -1px 0 black, 0 3px black, 1px 0 black, 0 -1px black;
    line-height: 40px;

}

.titleName h2 {
    font-family: KanitBold;
    letter-spacing: 10%;
    font-weight: bold;
    color: white;
    font-size: 40px;
    -webkit-text-stroke: .5px rgb(0, 0, 0);
    paint-order: fill stroke;
}

.buttonCountainer {
    display: flex;
    width: 100%;
    max-width: 619px;
    flex-direction: row;
    position: relative;
    justify-content: space-around;
}


.menuButton {
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    height: 40px;
    width: 80px;
    list-style: none;
    border: 1px black solid;
    border-radius: 5px;
    box-shadow: 5px 5px 0px black;
    background-color: white;
    position: relative;
    transition: .2s;
}

#about,
#games {
    width: 88px;
}

#contact {
    width: 120px;
}


#soundDesign p {
    width: 100%;
}



.menuButton p {
    font-family: Inter;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
}

.menuButton:hover {
    transform: translate(5px, 5px);
    box-shadow: none;
}

.main {
    position: relative;
}

.mainTitle {
    margin-left: 75px;

}

.mainTitle h1 {
    font-family: Inter;
    font-size: 50px;
    color: rgb(255, 146, 50);
    paint-order: stroke fill;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    line-height: auto;
}

.mainTitle h2 {
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    text-decoration: underline;
}

.reelGrid {
    display: grid;
    width: 90%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 75px;
    margin-top: 35px;
    padding-top: 35px;
    padding-bottom: 40px;
    position: relative;
}

.reelGrid canvas {
    top: 0px;
    left: 0px;
    z-index: -1;
    position: absolute;
    border: 1px black solid;
    border-radius: 5px;

}

.reel {
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 100%;
    margin-bottom: 2px;
    padding-top: 35px;
    position: relative;
}


.reel iframe {
    min-width: 720px;
    height: 470px;
    border-radius: 5px;
}






footer {
    margin-top: 105px;
    height: 80px;
    position: relative;
    display: flex;
    flex-direction: row;
}

footer canvas {
    top: 0px;
    left: 0px;
    z-index: -1;
    position: absolute;
    border: 1px black solid;
}

footer .footerLogo {
    width: 100%;
    padding-left: 50%;
    padding-top: 20px;
}

.footerLogo .menuButton {
    width: 40px;
    height: 40px;
    /* border: 2px green solid; */
    display: flex;
    justify-content: center;
}

.footerLogo img {
    object-fit: cover;
}

.footerText {
    padding-top: 10px;
    padding-left: 1%;
    /* border: 2px green solid; */
    width: 40%;
}

.footerText .name {
    font-family: Inter;
    font-weight: bold;
    font-size: 20px;
}

.footerText .mail {
    font-family: Inter;
    font-weight: light;
    font-size: 15px;
}

.telBlocker {
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
    height: 100%;
    width: 100vw;
    z-index: 100;
    background-color: white;
    overflow: hidden;
}

.telBlocker .textContainer {
    /* border: 2px red solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.telBlocker .textContainer h1 {
    height: 100%;
    text-align: center;
    padding-top: 100px;

    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
}

@media only screen and (max-width: 1620px) {
    .telBlocker {
        display: block;
    }

}